<div class="container">
  <p>
    <h1><%= @email.object%></h1>
  </p>
    <p><%= @email.body%></p>

    <a href=<%= emails_path(@email.id)%> class="btn btn-warning" class="btn btn-danger" data-confirm="êtes vous sur?" data-method="DELETE" >Supprimer</a>
    <a type="button" class="btn btn-primary">Marquer comme lu</a>

</div>