<div class=" remove container">
  <p>
    <h1><%= @email.object%></h1>
  </p>
    <p><%= @email.body%></p>

    <%= link_to 'Delete',email_path(id: email.id), data: {:confirm => 'Tu es sur ?'}, method: :delete, remote:true%>
    <a type="button" class="btn btn-primary">Marquer comme lu</a>

</div>