<div class="container">
  <p>
    <h2><%= @email.content%></h2>
  </p>
  <p>
    <h3><%= @email.body%></h3>

    <a href="<%= gossip_path(@gossip.id)%> class="btn btn-warning" class="btn btn-danger" data-confirm="êtes vous sur?" data-method="DELETE" >Supprimer</a>
<button type="button" class="btn btn-warning"><Marquer comme lu></button>
</div>